# OSX
#
.DS_Store


src
src_core
public
pages
android
ios
docs
docs/node_modules
e2e
app.json
App.tsx
babel.config.publish.js
babel.config.js
config.overrides.js
jest.config.js
metro.config.js
react-native.config.js
.buckconfig.js
.eslintignore
.eslintrc.js
.watchmanconfig
.prettierrc.js
# Jest
#
.jest/

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
